@import "./reset.styl"
body, html{
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  -webkit-tap-highlight-color: transparent
  background: #F0F2F5
}
.uncheck{
  width: 16px
  height: 16px
  border: 1px solid #828282
  border-radius: 50%
}
.checkedWrapper{
  display: inline-block
  width: 20px
  height: 20px
  font-size: 24px
}